<!doctype html>
<html lang="en" translate="no">
<head>
<meta charset="utf-8">                        
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Inews</title>                      
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/1a02557296.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar bg-body-tertiary navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">INews</span>
  </div>
</nav>

<div class="container mt-2 mb-3">
<h3>Top News (from <%= countryNameIs.toUpperCase() %>)</h3>
<% respond1.forEach((dataS) => { %>
  <div class="card mb-3">
     <img src="<%= dataS.urlToImage %>" class="card-img-top" />
     <div class="card-body">
       <h5 class="card-title">
          <%= dataS.title %>
       </h5>
       <p class="card-text">
          <%= dataS.description %>
       </p>
       <p class="card-text">
           <a href="<%= dataS.url %>"><%= dataS.url.slice(0,83) %>...<b>Read more&gt;</b></a>
       </p>
<% var imeIs = (new Date() - new Date(dataS.publishedAt))/60000; timeIs = (imeIs >= 1440) ? Math.floor(imeIs/1440) : Math.floor(imeIs) %>
       <p class="card-text">
           <small class="text-muted"><%= timeIs %> day ago <br />by <%= dataS.source.name %></small>
       </p>
     </div>
   </div>
<% }) %>
  </div>


<div class="container">
<h2>Select Country News</h2>
</div>

<div class="container">
  <div class="d-flex flex-wrap justify-content-center">
<% for(z = 0; z < lister.length; z++) { %>
   <button class="btn btn-dark mt-1 ms-1" onclick="window.location.href = 'news?id=<%= codes[z] %>'"><%= lister[z] %></button>
<% } %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
     <ul class="list-unstyled list-inline social text-center">
       <li class="list-inline-item">
         <i class="fa-brands fa-facebook"></i>
       </li>
       <li class="list-inline-item">
         <i class="fa-brands fa-twitter"></i>
       </li>
       <li class="list-inline-item">
         <i class="fa-brands fa-instagram"></i>
       </li>
      </ul>
     </div>
     <hr>
  </div>

  <div class="row">
     <div class="col-12 text-center mb-3">
         <code>@2020-2029</code>
     </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
